# Lecture 2 â€“ Data 100, Fall 2025

Data 100, Fall 2025

[Acknowledgments Page](https://ds100.org/fa25/acks/)

A high-level overview of the [`pandas`](https://pandas.pydata.org) library to accompany Lecture 2.

In [174]:
# `pd` is the conventional alias for Pandas, as `np` is for NumPy
import pandas as pd

## Series, DataFrames, and Indices

Series, DataFrames, and Indices are fundamental `pandas` data structures for storing tabular data and processing the data using vectorized operations.

### Series

A `Series` is a 1-D labeled array of data. We can think of it as columnar data. 

#### Creating a new `Series` object
Below, we create a `Series` object and will look into its two components: 1) values and 2) index.

In [175]:
s = pd.Series(["welcome", "to", "data 100"])

s

0     welcome
1          to
2    data 100
dtype: object

In [176]:
s.values

array(['welcome', 'to', 'data 100'], dtype=object)

In [177]:
s.index

RangeIndex(start=0, stop=3, step=1)

In the example above, `pandas` automatically generated an `Index` of integer labels. We can also create a `Series` object by providing a custom `Index`.

In [178]:
s = pd.Series([-1, 10, 2], index=["a", "b", "c"])
s

a    -1
b    10
c     2
dtype: int64

In [179]:
s.values

array([-1, 10,  2])

In [180]:
s.index

Index(['a', 'b', 'c'], dtype='object')

After it has been created, we can reassign the Index of a `Series` to a new Index.

In [181]:
s.index = ["first", "second", "third"]
s

first     -1
second    10
third      2
dtype: int64

#### Selection in Series
We can select a single value or a set of values in a `Series` using:
- A single label
- A list of labels
- A filtering condition

In [182]:
s = pd.Series([4, -2, 0, 6], index=["a", "b", "c", "d"])
s

a    4
b   -2
c    0
d    6
dtype: int64

**Selection using one or more label(s)**

In [183]:
# Selection using a single label
# Notice how the return value is a single array element
s["a"]

np.int64(4)

In [184]:
# Selection using a list of labels
# Notice how the return value is another Series
s[["a", "c"]]

a    4
c    0
dtype: int64

**Selection using a filter condition**

In [185]:
# Filter condition: select all elements greater than 0
s > 0

a     True
b    False
c    False
d     True
dtype: bool

In [186]:
# Use the Boolean filter to select data from the original Series
s[s > 0]

a    4
d    6
dtype: int64

<br><br><br><br><br><br><br>
**Instructor Note: Return to slides!**
<br><br><br><br><br><br><br>

### DataFrame

A `DataFrame` is a 2-D tabular data structure with both row and column labels. In this lecture, we will see how a `DataFrame` can be created from scratch or loaded from a file.

#### Creating a new `DataFrame` object
We can also create a `DataFrame` in a variety of ways. Here, we cover the following:
1. From a CSV file
2. Using a list and column names
3. From a dictionary
4. From a `Series`


##### Creating a `DataFrame` from a CSV file
For loading data into a `DataFrame`, `pandas` has a number of very useful file reading tools. We'll be using `read_csv` today to load data from a CSV file into a `DataFrame` object.

In [187]:
elections = pd.read_csv("data/elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
182,2024,Donald Trump,Republican,77303568,win,49.808629
183,2024,Kamala Harris,Democratic,75019230,loss,48.336772
184,2024,Jill Stein,Green,861155,loss,0.554864
185,2024,Robert Kennedy,Independent,756383,loss,0.487357
186,2024,Chase Oliver,Libertarian Party,650130,loss,0.418895

By passing a column to the `index_col` attribute, the `Index` can be defined at the initialization.

In [188]:
elections = pd.read_csv("data/elections.csv", index_col="Candidate")
elections

                   Year                  Party  Popular vote Result          %
Candidate
Andrew Jackson     1824  Democratic-Republican        151271   loss  57.210122
John Quincy Adams  1824  Democratic-Republican        113142    win  42.789878
Andrew Jackson     1828             Democratic        642806    win  56.203927
John Quincy Adams  1828    National Republican        500897   loss  43.796073
Andrew Jackson     1832             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
Donald Trump       2024             Republican      77303568    win  49.808629
Kamala Harris      2024             Democratic      75019230   loss  48.336772
Jill Stein         2024                  Green        861155   loss   0.554864
Robert Kennedy     2024            Independent        756383   loss   0.487357
Chase Oliver       2024      Libertarian Party        650130   loss   0.418895

[187 rows x 5 columns]

In [189]:
elections = pd.read_csv("data/elections.csv", index_col="Year")
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2024       Donald Trump             Republican      77303568    win  49.808629
2024      Kamala Harris             Democratic      75019230   loss  48.336772
2024         Jill Stein                  Green        861155   loss   0.554864
2024     Robert Kennedy            Independent        756383   loss   0.487357
2024       Chase Oliver      Libertarian Party        650130   loss   0.418895

[187 rows x 5 columns]

##### Creating a `DataFrame` using a list and column names

In [190]:
# Creating a single-column DataFrame using a list
df_list_1 = pd.DataFrame([1, 2, 3], 
                         columns=["Number"])
display(df_list_1)

   Number
0       1
1       2
2       3

In [191]:
# Creating a multi-column DataFrame using a list of lists
# Each sub-list represents a row/observation
df_list_2 = pd.DataFrame([[1, "one"], [2, "two"]], 
                         columns=["Number", "Description"])
df_list_2

   Number Description
0       1         one
1       2         two

##### Creating a `DataFrame` from a dictionary

In [192]:
# Creating a DataFrame from a dictionary of columns
df_dict_1 = pd.DataFrame({"Fruit":["Strawberry", "Orange"], 
                          "Price":[5.49, 3.99]})
df_dict_1

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99

In [193]:
# Creating a DataFrame from a dictionary of rows
df_dict_2 = pd.DataFrame([{"Fruit":"Strawberry", "Price":5.49}, 
                          {"Fruit":"Orange", "Price":3.99}])
df_dict_2

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99

##### Creating a `DataFrame` from a `Series`

In [194]:
# In the examples below, we create a DataFrame from a Series

s_a = pd.Series(["a1", "a2", "a3"], index=["r1", "r2", "r3"])
s_b = pd.Series(["b1", "b2", "b3"], index=["r1", "r2", "r3"])

In [195]:
# Passing Series objects for columns
df_ser = pd.DataFrame({"A-column":s_a, "B-column":s_b})
df_ser

   A-column B-column
r1       a1       b1
r2       a2       b2
r3       a3       b3

In [196]:
# Passing a Series to the DataFrame constructor to make a one-column DataFrame
df_ser = pd.DataFrame(s_a)
df_ser

     0
r1  a1
r2  a2
r3  a3

In [197]:
# Using to_frame() to convert a Series to DataFrame
ser_to_df = s_a.to_frame()
ser_to_df

     0
r1  a1
r2  a2
r3  a3

#### `DataFrame` attributes: `index`, `columns`, and `shape`

In [198]:
# Creating a DataFrame from a CSV file and specifying the Index column
elections = pd.read_csv("data/elections.csv", index_col="Candidate")

# Using `.head` shows only the first 5 rows to save space
elections.head(5)

                   Year                  Party  Popular vote Result          %
Candidate
Andrew Jackson     1824  Democratic-Republican        151271   loss  57.210122
John Quincy Adams  1824  Democratic-Republican        113142    win  42.789878
Andrew Jackson     1828             Democratic        642806    win  56.203927
John Quincy Adams  1828    National Republican        500897   loss  43.796073
Andrew Jackson     1832             Democratic        702735    win  54.574789

In [199]:
elections.index

Index(['Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson',
       'John Quincy Adams', 'Andrew Jackson', 'Henry Clay', 'William Wirt',
       'Hugh Lawson White', 'Martin Van Buren', 'William Henry Harrison',
       ...
       'Jill Stein', 'Joseph Biden', 'Donald Trump', 'Jo Jorgensen',
       'Howard Hawkins', 'Donald Trump', 'Kamala Harris', 'Jill Stein',
       'Robert Kennedy', 'Chase Oliver'],
      dtype='object', name='Candidate', length=187)

In [200]:
elections.columns

Index(['Year', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

In [201]:
elections.shape

(187, 5)

The `Index` column can be set to the default list of integers by calling `reset_index()` on a `DataFrame`.

In [202]:
# Revert the Index back to its default numeric labeling
elections = elections.reset_index() 
elections

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
182,Donald Trump,2024,Republican,77303568,win,49.808629
183,Kamala Harris,2024,Democratic,75019230,loss,48.336772
184,Jill Stein,2024,Green,861155,loss,0.554864
185,Robert Kennedy,2024,Independent,756383,loss,0.487357
186,Chase Oliver,2024,Libertarian Party,650130,loss,0.418895

In [203]:
# This sets the Index to the "Party" column
elections = elections.set_index("Party") 
elections

                               Candidate  Year  Popular vote Result          %
Party
Democratic-Republican     Andrew Jackson  1824        151271   loss  57.210122
Democratic-Republican  John Quincy Adams  1824        113142    win  42.789878
Democratic                Andrew Jackson  1828        642806    win  56.203927
National Republican    John Quincy Adams  1828        500897   loss  43.796073
Democratic                Andrew Jackson  1832        702735    win  54.574789
...                                  ...   ...           ...    ...        ...
Republican                  Donald Trump  2024      77303568    win  49.808629
Democratic                 Kamala Harris  2024      75019230   loss  48.336772
Green                         Jill Stein  2024        861155   loss   0.554864
Independent               Robert Kennedy  2024        756383   loss   0.487357
Libertarian Party           Chase Oliver  2024        650130   loss   0.418895

[187 rows x 5 columns]

<br><br><br><br><br><br><br>
**Instructor Note: Return to slides!**
<br><br><br><br><br><br><br>

### Slicing in `DataFrame`s

We can use `.head` to return only a few rows of a dataframe.

In [204]:
# Loading DataFrame again to keep the original ordering of columns
elections = pd.read_csv("data/elections.csv")

# By default, calling .head with no argument will show the first 5 rows
elections.head()

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

In [205]:
elections.head(3)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927

We can also use `.tail` to get the last so many rows.

In [206]:
elections.tail(5)

     Year       Candidate              Party  Popular vote Result          %
182  2024    Donald Trump         Republican      77303568    win  49.808629
183  2024   Kamala Harris         Democratic      75019230   loss  48.336772
184  2024      Jill Stein              Green        861155   loss   0.554864
185  2024  Robert Kennedy        Independent        756383   loss   0.487357
186  2024    Chase Oliver  Libertarian Party        650130   loss   0.418895

#### Label-Based Extraction Using`loc`

Arguments to `.loc` can be:
1. A list.
2. A slice (syntax is **inclusive** of the right-hand side of the slice).
3. A single value.

`loc` selects items by row and column *label*.

In [207]:
# Selection by a list
elections.loc[[87, 25, 179], ["Year", "Candidate", "Result"]]

     Year             Candidate Result
87   1932        Herbert Hoover   loss
25   1860  John C. Breckinridge   loss
179  2020          Donald Trump   loss

In [208]:
# Selection by a list and a slice of columns
elections.loc[[87, 25, 179], "Popular vote":"%"]

     Popular vote Result          %
87       15761254   loss  39.830594
25         848019   loss  18.138998
179      74216154   loss  46.858542

In [209]:
# Extracting all rows using a colon
elections.loc[:, ["Year", "Candidate", "Result"]]

     Year          Candidate Result
0    1824     Andrew Jackson   loss
1    1824  John Quincy Adams    win
2    1828     Andrew Jackson    win
3    1828  John Quincy Adams   loss
4    1832     Andrew Jackson    win
..    ...                ...    ...
182  2024       Donald Trump    win
183  2024      Kamala Harris   loss
184  2024         Jill Stein   loss
185  2024     Robert Kennedy   loss
186  2024       Chase Oliver   loss

[187 rows x 3 columns]

In [210]:
# Extracting all columns using a colon
elections.loc[[87, 25, 179], :]

,Year,Candidate,Party,Popular vote,Result,%
87,1932,Herbert Hoover,Republican,15761254,loss,39.830594
25,1860,John C. Breckinridge,Southern Democratic,848019,loss,18.138998
179,2020,Donald Trump,Republican,74216154,loss,46.858542

In [211]:
# Selection by a list and a single-column label
elections.loc[[87, 25, 179], "Popular vote"]

87     15761254
25       848019
179    74216154
Name: Popular vote, dtype: int64

In [212]:
# Note that if we pass "Popular vote" in a list, the output will be a DataFrame
elections.loc[[87, 25, 179], ["Popular vote"]]

     Popular vote
87       15761254
25         848019
179      74216154

In [213]:
# Selection by a row label and a column label
elections.loc[0, "Candidate"]

'Andrew Jackson'

#### Integer-Based Extraction Using `iloc`

`iloc` selects items by row and column *integer* position.

Arguments to `.iloc` can be:
1. A list.
2. A slice (syntax is exclusive of the right hand side of the slice).
3. A single value.

In [214]:
# Select the rows at positions 1, 2, and 3.
# Select the columns at positions 0, 1, and 2.
# Remember that Python indexing begins at position 0!
elections.iloc[[1, 2, 3], [0, 1, 2]]

   Year          Candidate                  Party
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican

In [215]:
# Index-based extraction using a list of rows and a slice of column indices
elections.iloc[[1, 2, 3], 0:3]

   Year          Candidate                  Party
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican

In [216]:
# Selecting all rows using a colon
elections.iloc[:, 0:3]

     Year          Candidate                  Party
0    1824     Andrew Jackson  Democratic-Republican
1    1824  John Quincy Adams  Democratic-Republican
2    1828     Andrew Jackson             Democratic
3    1828  John Quincy Adams    National Republican
4    1832     Andrew Jackson             Democratic
..    ...                ...                    ...
182  2024       Donald Trump             Republican
183  2024      Kamala Harris             Democratic
184  2024         Jill Stein                  Green
185  2024     Robert Kennedy            Independent
186  2024       Chase Oliver      Libertarian Party

[187 rows x 3 columns]

In [217]:
elections.iloc[[1, 2, 3], 1]

1    John Quincy Adams
2       Andrew Jackson
3    John Quincy Adams
Name: Candidate, dtype: object

In [218]:
# Extracting the value at row 0 and the second column
elections.iloc[0,1]

'Andrew Jackson'

#### Context-dependent Extraction using `[]`

We could technically do anything we want using `loc` or `iloc`. However, in practice, the `[]` operator is often used instead to yield more concise code.

`[]` is a bit trickier to understand than `loc` or `iloc`, but it achieves essentially the same functionality. The difference is that `[]` is *context-dependent*.

`[]` only takes one argument, which may be:
1. A slice of row integers.
2. A list of column labels.
3. A single column label.

If we provide a slice of row numbers, we get the numbered rows.

In [219]:
elections[3:7]

,Year,Candidate,Party,Popular vote,Result,%
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583

If we provide a list of column names, we get the listed columns.

In [220]:
elections[["Year", "Candidate", "Result"]]

     Year          Candidate Result
0    1824     Andrew Jackson   loss
1    1824  John Quincy Adams    win
2    1828     Andrew Jackson    win
3    1828  John Quincy Adams   loss
4    1832     Andrew Jackson    win
..    ...                ...    ...
182  2024       Donald Trump    win
183  2024      Kamala Harris   loss
184  2024         Jill Stein   loss
185  2024     Robert Kennedy   loss
186  2024       Chase Oliver   loss

[187 rows x 3 columns]

And if we provide a single column name we get back just that column, stored as a `Series`.

In [221]:
elections["Candidate"]

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
182         Donald Trump
183        Kamala Harris
184           Jill Stein
185       Robert Kennedy
186         Chase Oliver
Name: Candidate, Length: 187, dtype: object

### Slido Exercises

**Question 1**

What's the output of the following code?

In [222]:
example = pd.Series([4, 5, 6], index=["one", "two", "three"])
example[example > 4].values

array([5, 6])

**Question 2**

  We are expecting to get the following output:

<img src="images/medium.jpeg" width="200px" />

In [223]:
df1 = pd.DataFrame([["A", "B"], [84, 79]], columns=["Group", "Score"])
df1

  Group Score
0     A     B
1    84    79

In [224]:
df2 = pd.DataFrame([["A", 84], ["B", 79]], columns=["Group", "Score"])
df2

  Group  Score
0     A     84
1     B     79

In [225]:
df3 = pd.DataFrame({"A": 84, "B": 79}, columns=["Group", "Score"])
df3

Empty DataFrame
Columns: [Group, Score]
Index: []

In [226]:
df4 = pd.DataFrame({"Group": ["A", "B"], "Score": [84, 79]})
df4

  Group  Score
0     A     84
1     B     79

In [227]:
df5 = pd.DataFrame([{"Group": "A", "Score": 84}, {"Group": "B", "Score": 79}])
df5

  Group  Score
0     A     84
1     B     79

**Questions 3, 4, and 5**

Which of the following statements correctly return the value "blue fish" from the "weird" DataFrame?

In [229]:
weird = pd.DataFrame({"a":["one fish", "two fish"], 
                      "b":["red fish", "blue fish"]})
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [230]:
# weird.loc[1, 1]

In [231]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [232]:
# weird.loc[1, 'b']

In [233]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [234]:
# weird.loc[[1,1]]

In [235]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [236]:
# weird.loc[[1,'b']]

In [237]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [238]:
# weird.iloc[1, 1]

In [239]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [240]:
# weird.iloc[1, :]

In [241]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [242]:
# weird.iloc[2,2]

In [243]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [244]:
# weird.iloc[0,'b']

In [245]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [246]:
# weird[1]['b']

In [247]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [248]:
# weird['b'][1]

In [249]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [250]:
# weird[1,'b']

In [251]:
weird

          a          b
0  one fish   red fish
1  two fish  blue fish

In [252]:
# weird[[1,'b']]